.topcontent {
  color: white;
  position: relative;
}

.topcontent__container {
  position: absolute;
  /* top: 300px; */
  top: 200px;
  right: 150px;
}

.topcontent__container > p {
  letter-spacing: 1px;
  text-align: left;
  padding-left: 3px;
  padding-top: 20px;
}

.topcontent__container > a > button {
  margin-bottom: 30px;
  text-align: left;
  margin-left: 5px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.topcontent__container > h1 {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
}

.topcontent__downloadbutton {
  color: white;
  background-color: #f64c08;
  font-size: 14px;
  padding: 10px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  cursor: pointer;
  margin-right: 20px;
}

.topcontent__downloadbutton:hover {
  color: #f64c08;
  background-color: white;
  font-weight: 600;
}

.topcontent__workbutton {
  color: white;
  border: 1px solid white !important;
  background-color: transparent;
  font-size: 14px;
  padding: 9px 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.topcontent__workbutton:hover {
  color: black;
  background-color: white;
  font-weight: 600;
}
