.project > img {
  width: 450px;
  height: 280px;
}

.project {
  margin: 5 px;
  width: 450px;
  height: 280px;
  transition: transform 100ms ease-in;
  margin-bottom: 20px;
}

.project:hover {
  color: white;
  background-color: #f64c08;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project__content {
  padding: 10px;
}

.project__content > h4 {
  padding-bottom: 5px;
}

.project__content > p {
  font-size: 15px;
}
